@model HomeGestaoViewModel

@{
    Layout = "_LayoutAdmin";

}

<!--main content start-->
<section id="main-content">

    <section class="wrapper">
        <!--overview start-->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-laptop"></i> Bem-vindo/a</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box purple-bg">
                    <i class="fas fa-briefcase"></i>
                    <div class="count">@ViewBag.func</div>
                    <div class="title">Funcionários</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box blue-bg">
                    <i class="fas fa-users"></i>
                    <div class="count">@ViewBag.clientes</div>
                    <div class="title">Clientes</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box brown-bg">
                    <i class="far fa-file-alt"></i>
                    <div class="count">@ViewBag.contratos</div>
                    <div class="title">Contratos</div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box green-bg">
                    <i class="fas fa-money-check-alt"></i>
                    <div class="count">€ @ViewBag.receita</div>
                    <div class="title">Receita</div>
                </div>
            </div>
            @if (User.IsInRole("Administrador"))
            {
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box orange-bg">
                        <i class="far fa-file-alt"></i>
                        <div class="count">@ViewBag.reclamacoes</div>
                        <div class="title">Novas Reclamações</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box orange-bg">
                        <i class="far fa-file-alt"></i>
                        <div class="count">@ViewBag.reclamacoesfechadas</div>
                        <div class="title">Reclamações Resolvidas</div>
                    </div>
                </div>
            }

            @if (User.IsInRole("Operador"))
            {

                <div> <h1 style="text-align:center">Os meus números</h1></div>


                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="info-box linkedin-bg">
                        <div class="title">Número contratos</div>
                        <i class="fas fa-check"></i>
                        <div class="count"> @ViewBag.Meuscontratos</div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box orange-bg">
                        <i class="far fa-file-alt"></i>
                        <div class="count">@ViewBag.reclamacoes</div>
                        <div class="title">Novas Reclamações</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box orange-bg">
                        <i class="far fa-file-alt"></i>
                        <div class="count">@ViewBag.reclamacoesfechadas</div>
                        <div class="title">Reclamações Resolvidas</div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="info-box teal-bg">
                        <div class="title">Faturação Mensal</div>
                        <i class="fas fa-calculator"></i>
                        <div class="count"> € @ViewBag.faturacao</div>
                    </div>
                </div>
                @if (ViewBag.reclamacoes > 0)
                {
                    @await Component.InvokeAsync("Notyf")
                }

            }

        </div>

        <div class="row">
            <h4 style="text-align:center">Contamos consigo todos os dias para aumentar estes números. Bom trabalho!</h4>
        </div>
    </section>
</section>

