@model Projeto_Lab_Web_Grupo3.Models.Servicos

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Details";
}



<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="icon_search-2"></i>Serviços</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <section class="panel">
                    <header class="panel-heading no-border">
                        Detalhes do Serviço de @Html.DisplayFor(model => model.TipoServicos.Nome)
                    </header>
                    <table class="table table-bordered">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nome)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.Nome)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Descricao)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.Descricao)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.TipoServicos.Nome)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.TipoServicos.Nome)
                            </td>
                        </tr>
                    </table>
                    <br />
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="Serviços">Editar</a>
                    <a class="btn btn-info" asp-action="Index">Voltar Atrás</a>
                </section>
            </div>
        </div>
    </section>
</section>
