@model Projeto_Lab_Web_Grupo3.Models.PacotesNoContrato

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PacotesNoContrato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contratos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contratos.CodigoPostal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pacotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pacotes.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoPacote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoPacote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PromocaoDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromocaoDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inactivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inactivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Morada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Morada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoPostal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoPostal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distritos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distritos.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PacotesNoContratoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
