@model IEnumerable<Projeto_Lab_Web_Grupo3.Models.PacotesNoContrato>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contratos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pacotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoPacote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PromocaoDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inactivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Morada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoPostal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distritos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Contratos.CodigoPostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pacotes.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoPacote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PromocaoDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inactivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Morada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distritos.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PacotesNoContratoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PacotesNoContratoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PacotesNoContratoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
