@model Projeto_Lab_Web_Grupo3.Models.Contratos

@{
    ViewData["Title"] = "Apagar";
    Layout = "_LayoutAdmin";
}



<section id="container" class="">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Tem a certeza que deseja apagar este contrato?</h3>
                    <div>

                        @*<hr />
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.DataInicio)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.DataInicio)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.PrecoFinal)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.PrecoFinal)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.DataFim)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.DataFim)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.PrecoPacote)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.PrecoPacote)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.PromocaoDesc)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.PromocaoDesc)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.NomeCliente)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.NomeCliente)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.NomeFuncionario)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.NomeFuncionario)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Telefone)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Telefone)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Cliente)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Cliente.CodigoPostal)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Funcionario)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Funcionario.CodigoPostal)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.PromocoesPacotesNavigation)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.PromocoesPacotesNavigation.NomePacote)
                            </dd>
                        </dl>*@

                        <form asp-action="Delete">
                            <input type="hidden" asp-for="ContratoId" />
                            <input type="submit" value="Apagar" class="btn btn-danger" /> |
                            <a asp-action="Index">Voltar Atrás</a>
                        </form>

                    </div>
                </div>
            </div>
        </section>
    </section>


</section>