@model Projeto_Lab_Web_Grupo3.Models.Contratos

@{
    ViewData["Title"] = "Detalhes";
    Layout = "_LayoutAdmin";
}



<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-file-text-o"></i>Contratos</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                    <li><i class="icon_document_alt"></i>Contratos</li>
                    <li><i class="fa fa-file-text-o"></i>Detalhes</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <section class="panel">
                    <header class="panel-heading no-border">
                        Detalhes do contrato n.º @Html.DisplayFor(model => model.ContratoId)
                    </header>
                    <table class="table table-bordered">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.FuncionarioId)</th>
                            <td>@ViewBag.FuncionarioNome</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.ClienteId)</th>
                            <td>@Html.DisplayFor(model => model.Utilizadores.Nome)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.DataInicio)</th>
                            <td>@Html.DisplayFor(model => model.DataInicio)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.DataFim)</th>
                            <td>@Html.DisplayFor(model => model.DataFim)</td>

                        <tr>
                            <th>Pacote utilizado</th>
                            <td>@Html.DisplayFor(model => model.NomePacote)</td>
                        </tr>
                        <tr>
                            <th>Serviços disponíveis</th>
                            <td>

                                    @foreach (var item in Model.ServicosContratos)
                                    {
                                        @item.Servicos.Nome <br/>
                                    }
                            </td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.PromocoesId)</th>
                            <td>@Html.DisplayFor(model => model.Promocoes.Nome)</td>
                        </tr>

                        <tr>
                            <th>@Html.DisplayNameFor(model => model.PrecoPacote)</th>
                            <td>@Html.DisplayFor(model => model.PrecoPacote)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.PromocaoDesc)</th>
                            <td>@Html.DisplayFor(model => model.PromocaoDesc)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.PrecoFinal)</th>
                            <td>@Html.DisplayFor(model => model.PrecoFinal)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Telefone)</th>
                            <td>@Html.DisplayFor(model => model.Telefone)</td>
                        </tr>
                    </table>
                    <div>
                        <a asp-action="Index" class="btn btn-info">Voltar Atrás</a>
                    </div>
                </section>
                    </div>
            </div>
    </section>
</section>
</section>
