@model ContratosViewModel


@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Index";
}


    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-file-text-o"></i>Contratos</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                    <li><i class="icon_document_alt"></i>Contratos</li>
                    <li><i class="fa fa-file-text-o"></i>Consultar</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Consultar contratos
                    </header>
                    <section class="panel">
                        <div class="panel-body">
                            Insira na barra de pesquisa o NIF do cliente cujo(s) contrato(s) pretende consultar
                            <br />
                            <form class="form-horizontal " asp-action="Index" method="get">
                                <div class="form-group">
                                    <div class="col-lg-10">
                                        <input name="NifPesquisar" type="search" value="@Model.NifPesquisar" class="form-control input-lg m-bot15" placeholder="Inserir NIF">
                                    </div>
                                    <div class="col-lg-10">
                                        <input type="submit" value="Pesquisar" class="btn btn-success btn-lg">
                                        <a asp-action="Index" class="btn btn-primary btn-lg"><span class="icon_lightbulb_alt"></span> Limpar</a>
                                    </div>
                                </div>

                            </form>

                            <nav>
                                <ul class="pagination">
                                    @{
                                        int paginaInicial = Model.Paginacao.PaginaAtual - Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS;
                                        if (paginaInicial < 1)
                                        {
                                            paginaInicial = 1;
                                        }

                                        int paginaFinal = Model.Paginacao.PaginaAtual + Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS;
                                        if (paginaFinal > Model.Paginacao.TotalPaginas)
                                        {
                                            paginaFinal = Model.Paginacao.TotalPaginas;
                                        }
                                    }

                                    <li class="page-item @(Model.Paginacao.PaginaAtual == 1 ? "disabled" : "")">
                                        <a class="page-link" asp-action="Index" asp-route-pagina="1" asp-route-NifPesquisar="@Model.NifPesquisar">Primeiro</a>
                                    </li>

                                    @for (int i = paginaInicial; i <= paginaFinal; i++)
                                    {
                                        <li class="page-item @(Model.Paginacao.PaginaAtual == i ? "active" : "")">
                                            <a class="page-link" asp-action="Index" asp-route-pagina="@i" asp-route-NifPesquisar="@Model.NifPesquisar">@i</a>
                                        </li>
                                    }

                                    <li class="page-item @(Model.Paginacao.PaginaAtual == Model.Paginacao.TotalPaginas  ? "disabled" : "")">
                                        <a class="page-link" asp-action="Index" asp-route-pagina="@Model.Paginacao.TotalPaginas" asp-route-NifPesquisar="@Model.NifPesquisar">Último</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </section>
                </section>
            </div>
        </div>
    </section>
</section>

@section Scripts {
    <script src="~/js/Contratos.js"></script>
    }
