@model PromocoesPacotesViewModel

@{
    ViewData["Title"] = "Criar";
    Layout = "_LayoutAdmin";
}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="icon_cart"></i>Promoções</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Criar nova promoção
                    </header>
                    <div class="panel-body">
                        <form asp-action="Create" class="form-horizontal">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Nome" class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input type="text" asp-for="Nome" class="form-control" />
                                    <span asp-validation-for="Nome" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1" class="col-sm-2 control-label" asp-for="Descricao"></label>
                                <div class="col-sm-10">
                                    <textarea type="text" id="exampleFormControlTextarea1" rows="3" asp-for="Descricao" class="form-control"></textarea>
                                    <span asp-validation-for="Descricao" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="DataInicio" class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="DataInicio" class="form-control" />
                                    <span asp-validation-for="DataInicio" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="DataFim" class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="DataFim" class="form-control" />
                                    <span asp-validation-for="DataFim" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="PromocaoDesc" class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input type="text" asp-for="PromocaoDesc" class="form-control" />
                                    <span asp-validation-for="PromocaoDesc" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-2" for="inputSuccess">Pacotes com a promoção</label>
                                <div class="col-lg-10">
                                    @for (int i = 0; i < Model.ListaPacotes.Capacity; i++)
                                    {
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                @Html.DisplayFor(z => Model.ListaPacotes[i].NomePacote)
                                            </label>
                                            @Html.HiddenFor(x => Model.ListaPacotes[i].Id)
                                            @Html.CheckBoxFor(z => Model.ListaPacotes[i].Selecionado)
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2" for="inputSuccess">Distritos com a promoção</label>
                                <div class="col-md-2">
                                    Zona Norte
                                    @for (int i = 0; i < Model.ListaDistritosNorte.Capacity; i++)
                                    {
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                @Html.DisplayFor(z => Model.ListaDistritosNorte[i].NomeDistrito)
                                            </label>
                                            @Html.HiddenFor(x => Model.ListaDistritosNorte[i].Id)
                                            @Html.CheckBoxFor(z => Model.ListaDistritosNorte[i].Selecionado)
                                        </div>
                                    }
                                </div>
                                <div class="col-md-2">
                                    Zona Centro
                                    @for (int i = 0; i < Model.ListaDistritosCentro.Capacity; i++)
                                    {
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                @Html.DisplayFor(z => Model.ListaDistritosCentro[i].NomeDistrito)
                                            </label>
                                            @Html.HiddenFor(x => Model.ListaDistritosCentro[i].Id)
                                            @Html.CheckBoxFor(z => Model.ListaDistritosCentro[i].Selecionado)
                                        </div>
                                    }
                                </div>
                                <div class="col-md-2">
                                    Zona Sul
                                    @for (int i = 0; i < Model.ListaDistritosSul.Capacity; i++)
                                    {
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                @Html.DisplayFor(z => Model.ListaDistritosSul[i].NomeDistrito)
                                            </label>
                                            @Html.HiddenFor(x => Model.ListaDistritosSul[i].Id)
                                            @Html.CheckBoxFor(z => Model.ListaDistritosSul[i].Selecionado)
                                        </div>
                                    }
                                </div>
                                <div class="col-md-2">
                                    Ilhas
                                    @for (int i = 0; i < Model.ListaDistritosIlhas.Capacity; i++)
                                    {
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                @Html.DisplayFor(z => Model.ListaDistritosIlhas[i].NomeDistrito)
                                            </label>
                                            @Html.HiddenFor(x => Model.ListaDistritosIlhas[i].Id)
                                            @Html.CheckBoxFor(z => Model.ListaDistritosIlhas[i].Selecionado)
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <input type="submit" class="btn btn-success" value="Criar nova promoção" />
                                    <a class="btn btn-danger" asp-action="Index">Volta à lista</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>     
            </div>
        </div>
        
    </section>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
