@model Projeto_Lab_Web_Grupo3.Models.Promocoes

@{
    ViewData["Title"] = "Apagar";
    Layout = "_LayoutAdmin";
}

<section id="container" class="">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">

                    <h3>Tem a certeza que deseja apagar esta promoção?</h3>
                    <div>

                        <hr />
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Nome)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Nome)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Descricao)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Descricao)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.DataInicio)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.DataInicio)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.DataFim)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.DataFim)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.PromocaoDesc)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.PromocaoDesc)
                            </dd>
                        </dl>

                        <form asp-action="Delete">
                            <input type="hidden" asp-for="PromocoesId" />
                            <input type="submit" value="Apagar" class="btn btn-danger" /> |
                            <a asp-action="Index">Voltar Atrás</a>
                        </form>

                    </div>
                </div>
            </div>
        </section>
    </section>


</section>
