@model Projeto_Lab_Web_Grupo3.Models.Promocoes

@{
    ViewData["Title"] = "Apagar";
    Layout = "_LayoutAdmin";
}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="icon_cart"></i>Promoções</h3>
            </div>
        </div>
        <h3>Tem a certeza que deseja apagar a promoção @Html.DisplayFor(model => model.Nome)?</h3>
        <div class="row">
            <div class="col-sm-6">
                <section class="panel">
                    <table class="table table-bordered">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Descricao)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.Descricao)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.DataInicio)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.DataInicio)
                            </td>

                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.DataFim)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.DataFim)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.PromocaoDesc)
                            </th>
                            <td>
                                €@Html.DisplayFor(model => model.PromocaoDesc)
                            </td>
                        </tr>
                    </table>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="PromocoesId" />
                        <input type="submit" value="Apagar" class="btn btn-danger" />
                        <a class="btn btn-success" asp-action="Index">Cancelar</a>
                    </form>
                    </section>
            </div>
        </div>
    </section>
</section>

