@model Projeto_Lab_Web_Grupo3.Models.Promocoes

@{
    ViewData["Title"] = "Detalhes";
    Layout = "_LayoutAdmin";
}



<section id="container" class="">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <h4>Detalhes desta promoção</h4>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Nome)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Nome)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Descricao)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Descricao)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.DataInicio)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.DataInicio)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.DataFim)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.DataFim)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.PromocaoDesc)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.PromocaoDesc)
                            </dd>
                        </dl>
                    </div>
                    <div>
                        <a asp-action="Edit" asp-route-id="@Model.PromocoesId">Editar</a> |
                        <a asp-action="Index">Voltar Atrás</a>
                    </div>
                </div>

            </div>
        </section>
    </section>
</section>