@model PromocoesPacotesViewModel

@{
    ViewData["Title"] = "Detalhes";
    Layout = "_LayoutAdmin";
}



<section id="container" class="">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <h4>Detalhes desta promoção</h4>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Promocoes.Nome)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Promocoes.Nome)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Promocoes.Descricao)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Promocoes.Descricao)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Promocoes.DataInicio)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Promocoes.DataInicio)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Promocoes.DataFim)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Promocoes.DataFim)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Promocoes.PromocaoDesc)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Promocoes.PromocaoDesc)
                            </dd>
                        </dl>
                    </div>
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.PromocoesPacotes[0].Pacote)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.PromocoesPacotes[0].Pacote.Preco)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PromocoesPacotes)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Pacote.Nome)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Pacote.Preco)
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                    <div>
                        <a asp-action="Edit" asp-route-id="@Model.Promocoes.PromocoesId">Editar</a> |
                        <a asp-action="Index">Voltar Atrás</a>
                    </div>
                </div>


            </div>
        </section>
    </section>
</section>