@model PromocoesViewModel

@{

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Index";
}



<!-- container section start -->
<section id="container" class="">
    <section id="main-content">
        <section class="wrapper">



            <div class="container row p-0 m-0">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="icon_cart"></i>Promoções</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                        <li><i class="icon_cart"></i>Gerir Promoções</li>
                        <li><i class="fa fa-file-text-o"></i>Consultar</li>
                    </ol>
                </div>
                <div class="col-3 offset-3">
                </div>
                <div class="col-12 border p-3">
                    <table id="DT_load_Pacote" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Data Inicio</th>
                                <th>Data Fim</th>
                                <th>Valor</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var  item in @Model.Promocoes){
                                @if(@item.Inactivo == false) { 
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataInicio) 
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataFim)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromocaoDesc)
                                </td>
                                <td>
                                    @if (User.IsInRole("Operador"))
                                    {
                                        <a asp-action="EditOperadores" asp-route-id="@item.PromocoesId">Atribuir a pacotes/distritos</a>
                                        <a asp-action="Details" asp-route-id="@item.PromocoesId">Detalhes</a>
                                    }
                                    else
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.PromocoesId">Editar</a>
                                        <a asp-action="Details" asp-route-id="@item.PromocoesId">Detalhes</a>
                                        <a asp-action="Delete" asp-route-id="@item.PromocoesId">Arquivar</a>
                                    }

                                </td>
                            </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </section>
</section>

@section Scripts {
    <script src="~/js/PromocoesList.js"></script>
}
