@model Projeto_Lab_Web_Grupo3.Models.Utilizadores

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Details";
}



<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="icon_cart"></i>Detalhes</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <section class="panel">
                    <header class="panel-heading no-border">
                       Detalhes
                    </header>
                    <table class="table table-bordered">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nome)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.Nome)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nif)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.Nif)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.DataNascimento)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.DataNascimento)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Morada)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.Morada)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Telemovel)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.Telemovel)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.Email)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CodigoPostal)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.CodigoPostal)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Role)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.Role)
                            </td>
                        </tr>

                    </table>

                    <div>
                        @*Vai para a vista Create de um Contrato, com o Id deste cliente*@
                        <a class="btn btn-info" asp-area="" asp-controller="Contratos" asp-action="Create" asp-route-cliente="@Model.UtilizadorId">Associar novo contrato</a>

                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.UtilizadorId">Editar</a>
                        <a class="btn btn-info" asp-action="Index">Voltar atrás</a>
                    </div>

                </section>
            </div>
        </div>
    </section>
</section>