@model Projeto_Lab_Web_Grupo3.Models.Utilizadores

@if (User.IsInRole("Cliente"))
{
    Layout = "_LayoutPData";

    <container>
        <div class="container bg-white mt-5 mb-5 ">
            <div class="row offset-3">
                <div class="col-lg-7">
                    <div class="p-3 m-t-25 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Dados Pessoais</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label class="labels">@Html.DisplayNameFor(model => model.Nome)</label>
                                <p>@Html.DisplayFor(model => model.Nome)</p>
                            </div>
                            <div class="col-md-6">
                                <label class="labels">@Html.DisplayNameFor(model => model.DataNascimento)</label>
                                <p>@Html.DisplayFor(model => model.DataNascimento, "{0:dd/MM/yyyy}")</p>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label class="labels">@Html.DisplayNameFor(model => model.Morada)</label>
                                <p>@Html.DisplayFor(model => model.Morada)</p>
                            </div>
                            <div class="col-md-6">
                                <label class="labels">@Html.DisplayNameFor(model => model.CodigoPostal)</label>
                                <p>@Html.DisplayFor(model => model.CodigoPostal)</p>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label class="labels">@Html.DisplayNameFor(model => model.Nif)</label>
                                <p>@Html.DisplayFor(model => model.Nif)</p>
                            </div>
                            <div class="col-md-6">
                                <label class="labels">@Html.DisplayNameFor(model => model.Telemovel)</label>
                                <p>@Html.DisplayFor(model => model.Telemovel)</p>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label class="labels">@Html.DisplayNameFor(model => model.Email)</label>
                                <p>@Html.DisplayFor(model => model.Email)</p>
                            </div>
                        </div>


                        <div class="mt-5 text-center">
                            @*<a class="button-form-btn" asp-action="EditClientes" asp-route-id="@Model.UtilizadorId">Alterar dados pessoais</a>*@
                            <a class="button-form-btn" asp-area="Identity" asp-page="/Account/Manage/SetPassword">Mudar Password</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </container>
}
else
{

    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Details";




    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="icon_document_alt"></i>@ViewBag.Titulo</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <section class="panel">
                        <header class="panel-heading no-border">
                            Detalhes @Html.DisplayFor(model => model.Nome)
                        </header>

                        <table class="table table-bordered">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nome)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Nome)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nif)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Nif)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.DataNascimento)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.DataNascimento)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Morada)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Morada)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Telemovel)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Telemovel)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Email)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CodigoPostal)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.CodigoPostal)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Role)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Role)
                                </td>
                            </tr>
                            <tr>

                                @if (Model.Role == "Cliente")
                                {
                                <th>Contratos deste Cliente</th>
                                @if (Model.Contratos.Count() == 0)
                                {
                                    <td>Este cliente nao tem contratos associados</td>

                                }
                                else
                                {

                                    @foreach (var item in Model.Contratos)
                                    {



                                        <th>@Html.DisplayNameFor(Model => item.DataInicio)</th>

                                        <td>@Html.DisplayFor(modelItem => item.DataInicio)</td>



                                        <th>@Html.DisplayNameFor(Model => item.DataFim)</th>
                                        <td>  @Html.DisplayFor(modelItem => item.DataFim)</td>

                                        <th>@Html.DisplayNameFor(Model => item.PrecoFinal)</th>
                                        <td>@Html.DisplayFor(modelItem => item.PrecoFinal)</td>
                                        <th>@Html.DisplayNameFor(Model => item.Telefone)</th>
                                        <td>@Html.DisplayFor(modelItem => item.Telefone)</td>



                                        <td>  <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.ContratoId">Detalhes do Contrato</a> </td>

                                    }


                                }
                                }

                            </tr>

                        </table>

                        <div>



                            @*<a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.UtilizadorId">Editar</a>*@
                            @if (User.IsInRole("Administrador"))
                            {
                                @if (Model.Role == "Cliente")
                                {
                                    <a class="btn btn-info" asp-action="EditClientes" asp-route-id="@Model.UtilizadorId">Alterar dados pessoais</a>
                                    <a class="btn btn-info" asp-action="IndexClientes">Voltar atrás</a>

                                }
                                else
                                {
                                    <a class="btn btn-info" asp-action="EditFuncionarios" asp-route-id="@Model.UtilizadorId">Alterar dados pessoais</a>
                                    <a class="btn btn-info" asp-action="IndexFuncionarios">Voltar atrás</a>
                                }
                            }
                            @if (User.IsInRole("Operador"))
                            {
                                <a class="btn btn-info" asp-controller="Contratos" asp-action="Create" asp-route-cliente="@Model.UtilizadorId">Associar novo contrato</a>
                                <a class="btn btn-info" asp-action="IndexClientes">Voltar atrás</a>
                            }
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>
}