@model ServicosPacotesViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="icon_bag"></i>Pacotes</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                    <li><i class="icon_bag"></i>Pacotes</li>
                    <li><i class="fa fa-file-text-o"></i>Criar</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Criar novo Pacote
                    </header>
                    <div class="panel-body">
                        <form asp-action="Create" class="form-horizontal" enctype="multipart/form-data">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Nome" class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input type="text" asp-for="Nome" class="form-control" />
                                    <span asp-validation-for="Nome" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1" class="col-sm-2 control-label" asp-for="Descricao"></label>
                                <div class="col-sm-10">
                                    <textarea type="text" id="exampleFormControlTextarea1" rows="3" asp-for="Descricao" class="form-control"></textarea>
                                    <span asp-validation-for="Descricao" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Imagem" class="col-sm-2 control-label">Imagem (opcional) </label>
                                <div class="col-sm-10">
                                    <input name="Imagem" class="form-control-file" type="file" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Preco" class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input type="text" asp-for="Preco" class="form-control" />
                                    <span asp-validation-for="Preco" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">@ViewBag.Tipo1</label>
                                <div class="col-lg-10">
                                    <select class="form-control m-bot15" asp-for="Servico1" asp-items="ViewBag.Lista1"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">@ViewBag.Tipo2</label>
                                <div class="col-lg-10">
                                    <select class="form-control m-bot15" asp-for="Servico2" asp-items="ViewBag.Lista2"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">@ViewBag.Tipo3</label>
                                <div class="col-lg-10">
                                    <select class="form-control m-bot15" asp-for="Servico3" asp-items="ViewBag.Lista3"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">@ViewBag.Tipo4</label>
                                <div class="col-lg-10">
                                    <select class="form-control m-bot15" asp-for="Servico4" asp-items="ViewBag.Lista4"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">@ViewBag.Tipo5</label>
                                <div class="col-lg-10">
                                    <select class="form-control m-bot15" asp-for="Servico5" asp-items="ViewBag.Lista5"></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2" for="inputSuccess">Distritos com o pacote</label>
                                <div class="col-md-2">
                                    Zona Norte
                                    @for (int i = 0; i < Model.ListaDistritosNorte.Capacity; i++)
                                    {
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                @Html.DisplayFor(z => Model.ListaDistritosNorte[i].NomeDistrito)
                                            </label>
                                            @Html.HiddenFor(x => Model.ListaDistritosNorte[i].Id)
                                            @Html.CheckBoxFor(z => Model.ListaDistritosNorte[i].Selecionado)
                                        </div>
                                    }
                                </div>
                                <div class="col-md-2">
                                    Zona Centro
                                    @for (int i = 0; i < Model.ListaDistritosCentro.Capacity; i++)
                                    {
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                @Html.DisplayFor(z => Model.ListaDistritosCentro[i].NomeDistrito)
                                            </label>
                                            @Html.HiddenFor(x => Model.ListaDistritosCentro[i].Id)
                                            @Html.CheckBoxFor(z => Model.ListaDistritosCentro[i].Selecionado)
                                        </div>
                                    }
                                </div>
                                <div class="col-md-2">
                                    Zona Sul
                                    @for (int i = 0; i < Model.ListaDistritosSul.Capacity; i++)
                                    {
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                @Html.DisplayFor(z => Model.ListaDistritosSul[i].NomeDistrito)
                                            </label>
                                            @Html.HiddenFor(x => Model.ListaDistritosSul[i].Id)
                                            @Html.CheckBoxFor(z => Model.ListaDistritosSul[i].Selecionado)
                                        </div>
                                    }
                                </div>
                                <div class="col-md-2">
                                    Ilhas
                                    @for (int i = 0; i < Model.ListaDistritosIlhas.Capacity; i++)
                                    {
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                @Html.DisplayFor(z => Model.ListaDistritosIlhas[i].NomeDistrito)
                                            </label>
                                            @Html.HiddenFor(x => Model.ListaDistritosIlhas[i].Id)
                                            @Html.CheckBoxFor(z => Model.ListaDistritosIlhas[i].Selecionado)
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <input type="submit" value="Criar novo pacote" class="btn btn-success" />
                                    <a class="btn btn-danger" asp-action="Index">Volta à lista</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
