@model Projeto_Lab_Web_Grupo3.Models.Pacotes

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="icon_cart"></i>Pacotes</h3>
            </div>
        </div>
        <h3>Tem a certeza que deseja arquivar o pacote @Html.DisplayFor(model => model.Nome)?</h3>
        <div class="row">
            <div class="col-sm-6">
                <section class="panel">
                    <table class="table table-bordered">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nome)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.Nome)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Descricao)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.Descricao)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Preco)

                            </th>
                            <td>
                                @Html.DisplayFor(model => model.Preco)
                            </td>
                        </tr>


                    </table>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="PacoteId" />
                        <input type="submit" value="Arquivar" class="btn btn-danger" /> 
                        <a  class="btn btn-success" asp-action="Index">Cancelar</a>
                    </form>
                </section>
            </div>
        </div>
    </section>
</section>