@model Projeto_Lab_Web_Grupo3.Models.Pacotes

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Delete";
}


<section id="container" class="">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Tem a certeza que deseja apagar este pacote?</h3>
                    <div>

                        <hr />

                        <dl class="row">

                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Nome)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Nome)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Descricao)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Descricao)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Preco)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Preco)
                            </dd>
                        </dl>

                        <form asp-action="Delete">
                            <input type="hidden" asp-for="PacoteId" />
                            <input type="submit" value="Apagar" class="btn btn-danger" /> |
                            <a asp-action="Index">Voltar Atrás</a>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </section>


</section>
