@model ServicosPacotesViewModel

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Details";
}


<section id="container" class="">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Detalhes deste Pacote</h3>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Pacotes.Nome)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Pacotes.Nome)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Pacotes.Descricao)
                        </dt>
                        <dd class="col-sm-10">
                            @if (Html.DisplayFor(model => model.Pacotes.Descricao) == null)
                            {
                            <p></p>
                            }
                            else
                            {
                                @Html.DisplayFor(model => model.Pacotes.Descricao)
                            }

                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Pacotes.Preco)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Pacotes.Preco)
                        </dd>




                        @*<dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Pacotes.ServicosPacotes)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Pacotes.ServicosPacotes)
                            </dd>*@
                    </dl>
                </div>
                <table class="table table-borderless">
                    <thead >
                        <tr>


                            <th >
                                @Html.DisplayNameFor(model => model.ServicosPacotes[0].Servico.TipoServicos.Nome)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ServicosPacotes)
                        {
                            <tr>


                                <td >
                                    @Html.DisplayFor(modelItem => item.Servico.TipoServicos.Nome)
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
                <table class="table table-borderless">
                    <thead >
                        <tr>
                            <th>
                                
                                @Html.DisplayNameFor(model => model.PromocoesPacotes[0].Promocoes)
                            </th>


                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PromocoesPacotes)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Promocoes.Nome)
                                </td>


                            </tr>
                        }
                    </tbody>
                </table>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.Pacotes.PacoteId">Editar</a> |
                    <a asp-action="Index">Voltar Atrás</a>
                </div>


            </div>
        </section>
    </section>
</section>
