@model ServicosPacotesViewModel

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Details";
}




<section id="container" class="">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Detalhes deste Pacote</h3>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Pacotes[0].Nome)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Pacotes[0].Nome)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Pacotes[0].Descricao)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Pacotes[0].Descricao)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Pacotes[0].Preco)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Pacotes[0].Preco)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Pacotes[0].ServicosPacotes)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Pacotes[0].ServicosPacotes)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.Pacotes[0].PacoteId">Editar</a> |
                    <a asp-action="Index">Voltar Atrás</a>
                </div>
            </div>
        </section>
    </section>
</section>
