@model Projeto_Lab_Web_Grupo3.Models.Reclamacoes

@{
    ViewData["Title"] = "Delete";
    Layout = "_LayoutAdmin";
}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Arquivar Reclamação</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <section class="panel">
                    <table class="table table-bordered">
                        <tr>
                            <th >
                                @Html.DisplayNameFor(model => model.Descricao)
                            </th>
                            <td >
                                @Html.DisplayFor(model => model.Descricao)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.DataReclamacao)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.DataReclamacao)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Resposta)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.Resposta)
                            </td>
                        </tr>
                        <tr>
                            <th >
                                @Html.DisplayNameFor(model => model.DataResposta)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.DataResposta)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.EstadoResposta)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.EstadoResposta)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.EstadoResolução)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.EstadoResolução)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.DataResolucao)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.DataResolucao)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Cliente)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.Cliente.Nome)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Funcionario)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.Funcionario.Nome)
                            </td>
                        </tr>

                        
                    </table>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="ReclamacaoId" />
                        <input type="submit" value="Arquivar" class="btn btn-danger" /> |
                        <a asp-action="Index">Cancelar</a>
                    </form>
                </section>
            </div>
        </div>
    </section>
</section>