@model Projeto_Lab_Web_Grupo3.Models.PromocoesPacotes

@{
    ViewData["Title"] = "Apagar";
    Layout = "_LayoutAdmin";
}


<section id="container" class="">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Tem a certeza que quer apagar?</h3>
                    <div>
                        <h4>PromocoesPacotes</h4>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.NomePacote)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.NomePacote)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.NomePromocoes)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.NomePromocoes)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Pacote)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Pacote.Nome)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Promocoes)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Promocoes.Nome)
                            </dd>
                        </dl>

                        <form asp-action="Delete">
                            <input type="hidden" asp-for="PromocoesPacotesId" />
                            <input type="submit" value="Apagar" class="btn btn-danger" /> |
                            <a asp-action="Index">Voltar Atrás</a>
                        </form>

                    </div>
                </div>
            </div>
        </section>
    </section>


</section>