@model Projeto_Lab_Web_Grupo3.Models.PromocoesPacotes

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PromocoesPacotes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomePacote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomePacote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomePromocoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomePromocoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pacote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pacote.Nome)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Promocoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Promocoes.Nome)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PromocoesPacotesId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
