@model Projeto_Lab_Web_Grupo3.Models.PromocoesPacotes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PromocoesPacotes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomePacote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomePacote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomePromocoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomePromocoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pacote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pacote.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Promocoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Promocoes.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PromocoesPacotesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
